
body {
  background-color: cyan;
  color: purple;  
}

#div0 {
 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 120px;
  border-radius: 10px;
}

#article1,#article2,#article3 {
  background-color: white;
  gap: 20px;
  width: 330px;
  border: 2px solid black;
  border-radius: 10px;
  height: 400px;
}

p {
  text-align: center;
  font-size: 40px;
}

li {
  font-size: 30px;
}

input {
  width: 190px;
  height: 20px;
  text-align: center;
  margin-left: 40px;
  margin-top: 30px;
  border-radius: 10px;
  border: 2px solid purple ;
}

img {
  width: 200px;
  height: 200px;
  margin-left: 60px;
}

h1 {
  color: purple;
  margin-left: 120px;
}

h2 {
  color: purple;
  margin-left: 125px;
}

button {
  background-color: purple;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  height: 27px;
  width: 60px;
}

button:hover {
  background-color: darkviolet;
}

